$main-color: #4b86b4;
$general-background-color: #f7f7f7;
$general-text-color: #1e1f26;
$general-box-shadow: 0 0.28rem 0.22rem rgba(0, 0, 0, 0.034),
  0 0.67rem 0.53rem rgba(0, 0, 0, 0.048), 0 1.25rem 1rem rgba(0, 0, 0, 0.06),
  0 2.23rem 1.79rem rgba(0, 0, 0, 0.072), 0 4.18rem 3.34rem rgba(0, 0, 0, 0.086),
  0 10rem 8rem rgba(0, 0, 0, 0.12);

$viewport-3: 320px;
$viewport-4: 480px;
$viewport-7: 768px;
$viewport-9: 992px;
$viewport-12: 1200px;
$viewport-18: 1800px;
$viewport-20: 2000px;

@mixin rotate($angle) {
  transform: rotate($angle);
  -moz-transform: rotate($angle);
  -webkit-transform: rotate($angle);
  -ms-transform: rotate($angle);
}

@mixin arrow(
  $arrowSize: 2.5rem,
  $arrowDeg: -135deg,
  $arrowColor: $general-background-color
) {
  display: inline-block;
  position: relative;
  width: $arrowSize;
  height: $arrowSize;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  &:after {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: $arrowSize;
    height: $arrowSize;
    border-right-style: solid;
    border-bottom-style: solid;
    border-color: $arrowColor;
    content: '';
    cursor: pointer;
    @include rotate($arrowDeg);
  }
  &:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

@mixin for-mobile-portrait {
  @media only screen and (min-width: $viewport-3) and (max-width: $viewport-4 - 1) {
    @content;
  }
}

@mixin for-mobile-landscape {
  @media only screen and (min-width: $viewport-4) and (max-width: $viewport-7 - 1) {
    @content;
  }
}

@mixin for-tablet-portrait {
  @media only screen and (min-width: $viewport-7) and (max-width: $viewport-9 - 1) {
    @content;
  }
}

@mixin for-tablet-landscape {
  @media only screen and (min-width: $viewport-9) and (max-width: $viewport-12 - 1) {
    @content;
  }
}

@mixin for-laptop-and-desktop {
  @media only screen and (min-width: $viewport-12) and (max-width: $viewport-18 - 1) {
    @content;
  }
}

@mixin for-large-laptop-and-desktop {
  @media only screen and (min-width: $viewport-18) {
    @content;
  }
}

@mixin for-extra-large-device {
  @media only screen and (min-width: $viewport-20) {
    @content;
  }
}
