@import '../../utilities/utilities.scss';

$margin-top-default: 37.5rem;
$margin-mobile: $margin-top-default * 0.4 0 5rem;

@mixin footer-centering-mobile {
  position: absolute;
  left: 0;
  right: 0;
  width: 16rem;
  margin-left: auto;
  margin-right: auto;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  .title {
    margin: $margin-top-default 0 5rem;
    font-size: 275%;
    color: $general-background-color;
    @include for-mobile-portrait {
      margin: $margin-mobile;
      font-size: 225%;
    }
    @include for-mobile-landscape {
      margin: $margin-mobile;
    }
    @include for-tablet-portrait {
      margin: $margin-top-default * 0.55 0 5rem;
    }
    @include for-tablet-landscape {
      margin: $margin-top-default * 0.65 0 5rem;
    }
  }
  .footer {
    position: absolute;
    bottom: 2.5%;
    left: 1%;
    color: $general-background-color;
    @include for-mobile-portrait {
      @include footer-centering-mobile;
    }
    @include for-mobile-landscape {
      @include footer-centering-mobile;
    }
    a {
      margin-left: 1rem;
      text-decoration: none;
      color: $general-background-color;
      &:hover {
        border-bottom: 0.1rem solid $general-background-color;
        cursor: pointer;
      }
    }
  }
}
