@import '../../../utilities/utilities.scss';

$width-default: 27.5%;
$height-default: 5.65rem;
$border-radius-default: 0.3rem;
$box-shadow-default: 0 0.4rem 2rem 0;
$font-size-default: 112.5%;
$transition-default: 0.33s background-color ease-in-out,
  0.33s box-shadow ease-in-out;

@mixin input-placeholder-color {
  color: transparentize($general-background-color, 0.2);
}

@mixin background-color-transparentize($amount) {
  background-color: transparentize($general-background-color, $amount);
}

@mixin target-option-color-scheme {
  background-color: #e6e6e6;
  color: $main-color;
}

@mixin box-shadow-transparentize($amount) {
  box-shadow: $box-shadow-default rgba(0, 0, 0, $amount);
}

@mixin background-shadow-transparentize(
  $amoundForBackground,
  $amountForShadow
) {
  @include background-color-transparentize($amoundForBackground);
  @include box-shadow-transparentize($amountForShadow);
}

.InputField {
  position: relative;
  width: $width-default;
  height: $height-default;
  border-radius: $border-radius-default;
  font-family: sans-serif;
  transition: $transition-default;
  @include background-color-transparentize(0.66);
  &:hover {
    @include background-shadow-transparentize(0.5, 0.05);
  }
  &.Active {
    @include background-shadow-transparentize(0, 0.2);
    input {
      padding: 1rem 0 0 1.6rem;
      + label {
        top: 0.45rem;
        color: $main-color;
        opacity: 1;
      }
    }
  }
  &.Inactive {
    pointer-events: none;
  }
  input {
    position: relative;
    width: 100%;
    height: $height-default;
    padding: 0 1.5rem;
    border: none;
    border-radius: $border-radius-default;
    outline: none;
    background-color: transparent;
    box-shadow: $box-shadow-default transparent;
    font-size: $font-size-default;
    line-height: normal;
    color: $general-text-color;
    transition: $transition-default, 0.1s padding ease-in-out;
    -webkit-appearance: none;
    &::-moz-placeholder {
      @include input-placeholder-color;
    }
    &::-webkit-input-placeholder {
      @include input-placeholder-color;
    }
    &:-moz-placeholder {
      @include input-placeholder-color;
    }
    &:-ms-input-placeholder {
      @include input-placeholder-color;
    }
    + label {
      position: absolute;
      top: 2.4rem;
      left: 1.6rem;
      font-size: 85%;
      font-weight: bold;
      line-height: 2.4rem;
      color: $general-background-color;
      opacity: 0;
      transition: 0.1s all ease-in-out;
      pointer-events: none;
    }
  }
}

ul.Options {
  width: $width-default;
  margin: 0;
  padding: 0;
  box-shadow: $general-box-shadow;
  list-style-type: none;
  transition: width 0.33s;
  li {
    padding: 1.85rem;
    background-color: $general-background-color;
    font-size: $font-size-default;
    &:first-of-type {
      margin-top: 0.15rem;
      border-radius: $border-radius-default $border-radius-default 0 0;
    }
    &:last-of-type {
      border-radius: 0 0 $border-radius-default $border-radius-default;
    }
    &:hover {
      cursor: pointer;
      @include target-option-color-scheme;
    }
    &.Active {
      @include target-option-color-scheme;
    }
  }
}

.NoShow {
  width: $width-default;
  margin: 1rem;
  padding: 0;
  font-size: 105%;
  color: $general-background-color;
  opacity: 0.75;
}
