@import '../../utilities/utilities.scss';

@mixin text-align-for-mobile {
  @include for-mobile-portrait {
    width: 30rem;
    text-align: center;
  }
  @include for-mobile-landscape {
    width: 45rem;
    text-align: center;
  }
}

.Outcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: $general-background-color;
  .Image {
    margin: 0;
    padding: 0;
    width: 65rem;
    max-width: 100%;
    height: auto;
    &.OnFailure {
      -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=75)';
      opacity: 0.75;
      filter: none;
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
    }
  }
  .Title {
    margin: 2.75rem 0 0;
    padding: 0;
    font-size: 275%;
  }
  .Topic {
    margin: 4.75rem 0 0;
    padding: 0;
    font-size: 175%;
    @include text-align-for-mobile;
  }
  .Text {
    margin: 1.25rem 0 6.75rem;
    padding: 0;
    font-size: 120%;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=65)';
    opacity: 0.65;
    filter: none;
    @include text-align-for-mobile;
  }
}
