@import '../../utilities/utilities.scss';

$indicator-dimension: 0.8rem;

.question {
  width: 75rem;
  margin: 3.5rem;
  padding: 5rem;
  border-radius: 0.5rem;
  background-color: $general-background-color;
  box-shadow: $general-box-shadow;
  @include for-mobile-portrait {
    width: 20rem;
    margin: 3rem 0;
    padding: 3rem 5rem 3.5rem 2.5rem;
  }
  @include for-mobile-landscape {
    width: 32rem;
    margin: 3rem;
  }
  @include for-tablet-portrait {
    width: 85%;
    margin: 3.5rem 0;
  }
  .indicator {
    display: inline-block;
    position: relative;
    right: 2.5%;
    width: $indicator-dimension;
    height: $indicator-dimension;
    border-radius: 50%;
    @include main-theme-on-device-media('background-color');
    &.inactive {
      visibility: hidden;
    }
  }
  .questionText {
    margin: 0 0 2.5rem 2rem;
    font-size: 110%;
  }
  .answerTitle {
    margin: 0 0 1rem 2rem;
    font-size: 150%;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=50)';
    opacity: 0.5;
    filter: none;
  }
}
