@import '../../utilities/utilities.scss';

@mixin padding-mobile-tablet {
  padding: 1rem 0 3rem;
}

@mixin top-mobile {
  top: 7.5%;
}

.QuestionsWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  .Questions {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  .Title {
    margin: 2.5rem 0 0;
    padding: 0;
    font-size: 195%;
    color: $general-background-color;
    @include for-mobile-portrait {
      font-size: 150%;
    }
  }
  .Author {
    margin: 1.5rem 0 0;
    padding: 0;
    font-size: 125%;
    color: $general-background-color;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=55)';
    opacity: 0.55;
    filter: none;
  }
  .QuestionsReturn {
    margin: 0;
    padding: 0;
    border: none;
    background-color: inherit;
    text-decoration: underline;
    color: $general-background-color;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=75)';
    opacity: 0.75;
    filter: none;
    cursor: pointer;
    @include for-mobile-portrait {
      @include padding-mobile-tablet;
    }
    @include for-mobile-landscape {
      @include padding-mobile-tablet;
    }
    @include for-tablet-portrait {
      @include padding-mobile-tablet;
    }
    @include for-tablet-landscape {
      @include padding-mobile-tablet;
    }
  }
  .BackToTopWrapper {
    position: -webkit-sticky;
    position: sticky;
    bottom: 5%;
    right: 5%;
    -ms-flex-item-align: end;
    align-self: flex-end;
    margin: 0;
    padding: 1.5rem;
    @include for-mobile-portrait {
      display: none;
    }
    @include for-mobile-landscape {
      display: none;
    }
    @include for-tablet-portrait {
      display: none;
    }
    @include for-tablet-landscape {
      display: none;
    }
  }
  .ReturnWrapper {
    position: absolute;
    top: 2.5%;
    left: 1%;
    -ms-flex-item-align: start;
    align-self: flex-start;
    margin: 0;
    padding: 1.5rem;
    @include for-mobile-portrait {
      @include top-mobile;
    }
    @include for-mobile-landscape {
      @include top-mobile;
    }
  }
}
